/**
Color Scheme:
Red: #c80212
Black and White
Grey: #525151
Blue: #244ace
*/

body {
  background-color: #f2f2f2;
  /* font-family: "EB Garamond", serif; */
  font-weight: 300;
  font-size: 16px;
  color: #525151;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Oswald", sans-serif; */
  font-weight: 300;
  color: #333;
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

/* Links */

a {
  color: #244ace;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #525151;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
  background: url(../img/header-bg.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  margin-top: 150px;
  color: #c80212;
  font-size: 70px;
  font-weight: 700;
}

#headerwrap h3 {
  color: #c80212;
  font-size: 30px;
  font-weight: 100;
  font-family: "EB Garamond", serif;
  font-style: oblique;
}

#headerwrap .logo {
  text-align: left;
  margin-left: 20px;
  margin-top: 15px;
}

/* Footer Wrap */

#f {
  background: white;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#f h3 {
  color: black;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

#f i {
  font-size: 8px;
  color: black;
  padding: 3px;
}

#f p {
  font-size: 20px;
  color: black;
}

#f img {
  text-align: center;
}

/* MENU CONF*/

.menu {
  position: fixed;
  right: 100px;
  width: 360px;
  height: 100px;
  top: 0;
  z-index: 10;
  text-align: right;
}

.menu-wrap {
  position: absolute;
  top: 0;
  left: 60px;
  width: 200px;
  height: 100%;
}

.menu h1.logo a {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 20px;
}

.menu h1.logo a:hover {
  color: #244ace;
}

.menu img.logo {
  margin: 20px 0;
  max-width: 160px;
}

.menu a {
  margin-left: 20px;
  color: #244ace;
  display: inline-flex;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.menu a:hover {
  color: #c80212;
}

.menu a:active {
  color: #c80212;
}

.menu a > i {
  float: left;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 32px;
  font-size: 20px;
  line-height: 40px;
  margin: 25px 2px;
}

.menu-close {
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: 14px;
  color: #808080;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: 20px;
  right: 5px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.menu-close:hover {
  color: #ffffff;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/* Push the body after clicking the menu button */

.body-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.body-push-toright {
  left: 200px;
}

.body-push-toleft {
  left: -200px;
}

.menu,
.body-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#menuToggle {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 11;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#menuToggle:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/* Contact Form */

.contact-form {
  text-align: left;
}

.contact-form label {
  color: #999;
}

.contact-form input,
.contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button {
  background: #244ace;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.contact-form .form-send button:hover {
  background: #244ace;
}

.contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .loading {
  display: none;
  color: #525151;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

.contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

.contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

/* Copyrights */

#copyrights {
  background: #c80212;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

#copyrights a {
  color: #f0ad4e;
}

#copyrights p {
  margin-bottom: 5px;
}

.credits {
  color: #999;
}

/* Sign Up Modal */
.nav-tabs > li > a {
  margin-right: 0px;
  color: grey;
}

.group2 {
  position: relative;
  margin-top: 16px;
}

.btn-block {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #e5ecf4;
  color: #4a89dc;
}

.login-shadow {
  -webkit-box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
  -moz-box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
  box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
  z-index: 1;
}

.signup-shadow {
  -webkit-box-shadow: -5px 0px 6px 0px rgba(82, 82, 82, 0.52);
  -moz-box-shadow: -5px -5px 6px 0px rgba(82, 82, 82, 0.52);
  box-shadow: -5px 0px 6px 0px rgba(82, 82, 82, 0.52);
}

.modal-header {
  background-color: #e5ecf4;
}

.group {
  position: relative;
  margin-top: 30px;
}

.input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: none;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

.input:focus {
  outline: none;
}

/* Label */

.label {
  color: #757575;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: -10px;
  top: 10px;
  transition: all 0.2s ease;
}

/* active */

.input:focus ~ .label,
.input.used ~ .label {
  top: -20px;
  transform: scale(0.75);
  left: -15px;
  color: #4a89dc;
}

/* Underline */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #4a89dc;
  transition: all 0.2s ease;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active */

.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

/* Highlight */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active */

.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@media screen and (max-width: 767px) and (min-width: 576px) {
  #myModal {
    margin-left: 20%;
    margin-right: 20%;
  }

  #forgot-password {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (min-width: 768px) {
  #myModal .modal-dialog {
    width: 500px;
    margin-top: 200px;
  }

  #forgot-password .modal-dialog {
    width: 500px;
  }

  .modal-body {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.modal-body {
  /* background-image: url("../img/signup-bg.jpg"); */
  background-size: cover;
  z-inedx: 4;
}

em {
  display: none;
}
.or-seperator {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}
.red-back {
  background-color: #c80212;
  border-color: #c80212;
}
.blue-back {
  background-color: #244ace;
  border-color: #244ace;
}
.white-color {
  color: white;
}
.w-50 {
  width: 47%;
}
.justify-space-between {
  display: flex;
  justify-content: space-between;
}
.menu a.smoothscroll {
  font-size: 16px;
}
